/* STILI PREDEFINITI */
* {
    box-sizing: border-box;
}

:root {
    --blue: #0b113b;
    --lightblue: #00ffff;
    --pink: #d20094;
    --purple: #900080;
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: white;
    background-color: var(--blue);
    position: relative;
}

.inter {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.center {
    text-align: center;
}

.button {
    width: 200px;
    height: 55px;
    color: var(--blue);
    background-color: var(--lightblue);
    font-weight: 800;
    font-size: 1.2rem;
    border: none;
    box-shadow: 0 0 20px var(--lightblue);
    cursor: pointer;
}

.button:hover {
    background-color: white;
    color: var(--blue);
}

.hide {
    display: none;
}

.red-border {
    border: 2px solid red;
}

/* CONTAINER */
#container-epicode {
    padding: 0 90px;
    width: 945px;
    height: 100vh;
    margin: 0 auto;
    background-image: url(../images/bg.jpg);
    background-size: cover;

    border-right: 2px solid white;
    border-left: 2px solid white;
    box-shadow: 0 0 20px var(--pink);
}

#container-epicode.blur {
    filter: blur(5px);
}

/* HEADER */
#header-epicode {
    padding: 35px 0;
    margin-bottom: 35px;
    display: flex;
    justify-content: space-between;
}

#header-epicode img {
    width: 145px;
    height: 33.37px;
}

#header-epicode #external-div {
    width: 102px;
    height: 102px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: var(--lightblue);
}

#header-epicode #internal-div {
    height: 80px;
    width: 80px;
    border-radius: 100%;
    background-color: var(--pink);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#header-epicode #internal-div .write {
    font-size: 7px;
}

#header-epicode #internal-div #seconds {
    font-size: 38px;
}

/* PRIMA PAGINA */
.primo {
    width: 450px;
    line-height: 3.5rem;
    font-size: 4.5rem;
    border: none;
    color: white;
    text-align: left;
    margin-top: -10px;
}

.primo span {
    font-weight: 700;
}

.secondario {
    padding-top: 20px;
}

.secondo {
    font-size: 1.7rem;
    font-weight: 700;
    color: var(--pink);
    margin-top: 45px;
    margin-bottom: 8px;
}

.terzo {
    width: 475px;
    margin-bottom: 40px;
    color: #dadada;
    font-size: 0.92rem;
    line-height: 1.1rem;
}

#first-ul {
    margin-left: 30px;
    margin-bottom: 80px;
    color: white;
    font-size: 0.92rem;
    line-height: 1.4rem;
}

#first-ul li span {
    color: #dadada;
}

#first-ul li span span {
    font-weight: 700;
    color: white;
}

.terzo-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
}

.terzo-div label {
    font-weight: 700;
    display: flex;
    align-items: center;
}

#checkmark {
    width: 14px;
    height: 14px;
    background-color: transparent;
    border: 2px solid white;
    margin-right: 10px;
    font-size: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#accept {
    display: none;
}

/* SELEZIONE */
#choices .choice {
    margin-top: 50px;
}

#choices .choice .choice-p {
    font-size: 1.5rem;
}

#choices .choice input, #choices .choice select {
    margin: 20px 0;
    height: 30px;
    width: 200px;
}

#choices .choice .error {
    color: red;
}

#second-button-div {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}

/* DOMANDE */
#question {
    font-size: 3rem;
    margin-bottom: 60px;
}

#question.small {
    font-size: 2rem;
}

#answers {
    margin-bottom: 100px;
    padding: 0 40px;
    display: flex;
    flex-wrap: wrap;
}

#answers .answer {
    height: 60px;
    margin: 0 auto;
    outline: 4px solid white;
    border-radius: 50px;
    background-color: transparent;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
    flex: 0 1 308px;
}

#answers .answer:hover {
    background-color: var(--purple);
}

#answers .answer.selected {
    background-color: var(--pink);
}

#answers .answer.correct {
    background-color: #00ff00;
    border: none;
}

#answers .answer.wrong {
    background-color: red;
    border: none;
}

#answers label {
    font-size: 1.5rem;
    display: block;
    margin-bottom: 50px;
}

#quiz-info {
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#quiz-info #question-number {
    font-size: 1.1rem;
    letter-spacing: 2px;
}

#quiz-info #question-number span {
    color: var(--pink);
}

#alert {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    width: 300px;
}

#exclamation-point-div {
    background-color: red;
    box-shadow: 0 0 10px white;
    margin-bottom: 20px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#alert-div {
    background-color: var(--blue);
    box-shadow: 0 0 10px white;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

#alert-info {
    font-size: 1.2rem;
}

#alert-timer {
    margin-top: 10px;
    font-size: 3rem;
}

/* RESULTS PAGE */
.text-grass {
    color: white;
}

/* TITLE */
#container-title{
    text-align: center;
    margin-top: -40px;
    margin-bottom: 50px;
}

#title h2 {
    font-weight: 800;
    font-size: 2.7rem;   
}

#title h4  {
    font-weight: 400;
    font-size: 1.5rem;
    padding-top: 5px;
}

/* ANSWER TEXT */
#answer-text {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* CORRECT */
#correct-zone {
    text-align: left;
}

#correct {
    font-size: 3rem;
}

#percentuale-correct {
    font-size: 50px;
    font-weight: bold;
}

#questions-correct {
    font-size: 18px;
}

/* WRONG */
#wrong-zone{
    text-align: right;
}

#wrong {
    font-size: 3rem;
}

#percentuale-wrong {
    font-size: 50px;
    font-weight: bold;
}

#questions-wrong {
    font-size: 18px;
}

/* CIRCLE TEXT */
#text-circle {
    text-align: center;
    padding-top: 135px;
    height: 175px;
    width: 175px;
    position: absolute;
    top: 65px;
    left: 65px;
    display: flex;
    flex-direction: column;
}

.chart-container p {
    position: absolute;
}

#title-circle {
    font-weight: bold;
    top: 100px;
    left: 90px;
}

#text-blue {
    font-weight: bold;
    color: var(--lightblue);
    padding-top: 4px;
    top: 114px;
    left: 75px;
}

#text-circle-certificate {
    font-size: 13px;
    top: 150px;
    left: 77px;
    width: 150px;
    text-align: center;
}

/* BUTTON */
.rate-button {
    width: 205px;
    height: 55px;
    background-color: transparent;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.6px;
    margin: 10px;
    cursor: pointer;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.3);
    margin: 55px auto 0 auto;
}

.rate-button:hover {
    background-color: var(--lightblue);
    color: black;
    border: 2px solid black;
}

.chart-container {
    width: 305px;
    height: 305px;
    position: relative;
    margin-right: 10px;
}

.chart-container canvas {
    width: 100%;
}

#title-circle.not-passed {
    left: 121px
}

#text-blue.not-passed {
    left: 64px;
    color: red;
}

/* REVIEW PAGE */
#recommend {
    color: #e3e3e8;
    font-size: 1.5rem;
    padding-top: 20px;
    display: block;
    text-align: center;
}

.stelle{
    padding: 0 40px;
    display: flex;
    justify-content: space-evenly;
}

.commento{
    text-align: center;
    padding-top: 30px;
}

.commento-a{
    color:white;
    text-align: center;
}

.grassetto{
    padding-top: 80px;
}

.stelle{
    padding-top: 50px;
    text-align: center;
}

.stelle svg {
    transform: scale(0.82);
}

.stelle svg.onhover {
    transform: scale(1);
}

.stelle svg.onhover path {
    fill: #00ffff;
}

.stelle svg.onclick {
    transform: scale(1);
}

.stelle svg.onclick path {
    fill: #00ffff;
}

.vuote-svg{
    color: white;
    background-color: black;
}

#contenitore{
    text-align: center;
}

#h4{
    margin-top: 30px;
    font-size: 2.8rem;
    font-weight: 800;
    text-align: center;
    color: #e7e7eb;
}

#h5{
    margin-top: 60px;
    font-size: 1.2rem;
    font-weight: 200;
    text-align: center;
}

.titolop{
    text-align: center;
    padding-top: 20px;
}

#comment{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--pink);
    width: 100%;
    margin-top: 40px;
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
}

#comment:focus {
    outline: none;
}

#review-button{
    display: block;
    margin:0 auto;
    margin-top: 40px;
}

.contenitoredue{
    width: 80%;
    margin: 0 auto;
}