/* STILI PREDEFINITI */
* {
    box-sizing: border-box;
}

:root {
    --blue: #0b113b;
    --lightblue: #00ffff;
    --pink: #d20094;
    --purple: #900080;
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: white;
    background-color: var(--blue);
}

.inter {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.center {
    text-align: center;
}

.button {
    width: 200px;
    height: 55px;
    color: var(--blue);
    background-color: var(--lightblue);
    font-weight: 800;
    font-size: 1.2rem;
    border: none;
    box-shadow: 0 0 20px var(--lightblue);
    cursor: pointer;
}

.button:hover {
    background-color: white;
    color: var(--blue);
}

.hide {
    display: none;
}

.red-border {
    border: 2px solid red;
}

/* CONTAINER */
#container-epicode {
    padding: 0 90px;
    width: 945px;
    height: 100vh;
    margin: 0 auto;
    background-image: url(../images/bg.jpg);
    background-size: cover;

    border-right: 2px solid white;
    border-left: 2px solid white;
    box-shadow: 0 0 20px var(--pink);
}

/* HEADER */
#header-epicode {
    padding: 35px 0;
    margin-bottom: 35px;
    display: flex;
    justify-content: space-between;
}

#header-epicode img {
    width: 145px;
    height: 33.37px;
}

#header-epicode #external-div {
    width: 102px;
    height: 102px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: var(--lightblue);
}

#header-epicode #internal-div {
    height: 80px;
    width: 80px;
    border-radius: 100%;
    background-color: var(--pink);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#header-epicode #internal-div .write {
    font-size: 7px;
}

#header-epicode #internal-div #seconds {
    font-size: 38px;
}

/* SELEZIONE */

#choices .choice {
    margin-top: 50px;
}

#choices .choice .choice-p {
    font-size: 1.5rem;
}

#choices .choice input, #choices .choice select {
    margin: 20px 0;
    height: 30px;
    width: 200px;
}

#choices .choice .error {
    color: red;
}

#second-button-div {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}

/* DOMANDE */
#question {
    font-size: 3rem;
    margin-bottom: 60px;
}

#question.small {
    font-size: 2rem;
}

#answers {
    margin-bottom: 100px;
    padding: 0 40px;
    display: flex;
    flex-wrap: wrap;
}

#answers .answer {
    height: 60px;
    margin: 0 auto;
    outline: 4px solid white;
    border-radius: 50px;
    background-color: transparent;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
    flex: 0 1 308px;
}

#answers .answer:hover {
    background-color: var(--purple);
}

#answers .answer.selected {
    background-color: var(--pink);
}

#answers .answer.correct {
    background-color: #00ff00;
    border: none;
}

#answers .answer.wrong {
    background-color: red;
    border: none;
}

#answers label {
    font-size: 1.5rem;
    display: block;
    margin-bottom: 50px;
}

#quiz-info {
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#quiz-info #question-number {
    font-size: 1.1rem;
    letter-spacing: 2px;
}

#quiz-info #question-number span {
    color: var(--pink);
}